/* Add or modify this in your App.css file */

.App {
  display: flex;
}

.content {
  margin-top: 20px;
  width: calc(100% - 260px); /* This ensures content takes remaining width */
  box-sizing: border-box;
}
